:root{
    --cor-principal: #3E8DDD;
    --cor-secundária: #3E8DDD;
    --cor-terciária: #3E8DDD;
}

@font-face{
    font-family: Gotham;
    src: url(../fontes/Gotham-Medium.woff);
}

@font-face{
    font-family: Gotham;
    src: url(../fontes/Gotham-Bold.woff);
    font-weight: bold;
}

@font-face{
    font-family: Gotham;
    src: url(../fontes/Gotham-Book.woff);
    font-weight: 700;
}

body, html, #home{
    height: 100%;
}

body{
    font-family: Gotham;
    background-color: #d9d8d6;
}

h1{
    color: black;
}

/* menu */

.logo{
    position: absolute;
    left: -3000px;
}

#logo img{
    width: 150px;
}

.menu a.ativo{
    color: #3E8DDD;
}

.menu a{
    text-transform: uppercase;
    color: white;
    transition: 400ms;
    font-weight: bold;
}

.menu span{
    color: white;
}

.menu a:hover{
    color: var(--cor-terciária);
    /* border-top: 1px solid cyan;
    border-bottom: 1px solid cyan; */
}

.fundo-cinza{
    background-color: rgb(51, 51, 51);
}

.navbar-transparente{
    background-color: rgb(51, 51, 51);
    padding: 20px 0;
}



.amarelo{
    color: var(--cor-principal);
}

.btn-custom{
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 500px;
    transition: 400ms;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

.btn-laranja{
    background-color: var(--cor-secundária);
}

.btn-laranja:hover{
    background-color: #4BDDDD;
    color: white;
}

#logo{
    font-size: 2em;
    font-family: Gotham, Arial, sans-serif;
}

.dropdown-divider{
    width: 90%;
    margin: .5em auto;
}


/* home */

.caixa{
    padding: 80px 0;
    font-family: Gotham;
    src: local(Gotham) url(../fontes/Gotham-Font/GothamBold.ttf);
}

.alinha{
    text-align: center;
}

.fundo{
    background-color: white;
}

#home h1{
    font-weight: bold;
    text-transform: uppercase;
}

/* rodape */


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .btn-custom{
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 500px;
        transition: 400ms;
        color: white;
        font-weight: bold;
        white-space: nowrap;
        margin-top: 10px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}